apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: blutenherz/penguin-api:v11
          ports:
            - containerPort: 8989
          readinessProbe:
            httpGet:
              path: /docs
              port: 8989
            initialDelaySeconds: 5
            periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 8989
      targetPort: 8989
  type: ClusterIP
